@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">People Database</h1>
    @if (SignInManager.IsSignedIn(User))
    {
        <p>Welcome @User.Identity.Name</p>
    }
    else
    {
        <p>Hello And Welcome Visitor, Please Sign In For Further Use Of Website</p>
    }
</div>
